body{
    font-family: 'Nunito', sans-serif;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
.pad60_0{
    padding: 60px 0;
}
.pad100_60{
    padding: 100px 60px 50px 60px;
}
.navbar{
    box-shadow: none;
    padding: 0;
}
.navbar .nav-item {
    padding: 30px 15px;
}
.navbar .nav-item.active, .navbar  .nav-item:hover{
    border-bottom: 2px solid #29CB75;
}
.navbar .nav-item.dropdown:hover .dropdown-menu{
    display: block;
}
.navbar .nav-item .nav-link{
    padding: 0
}
.navbar .dropdown-menu{
    top: 84px ;
    border-radius: 0;
    border: none;
    width: 100%;
    padding: 10px;
}
.navbar .dropdown-menu a{
    padding: 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: #444444;
    text-transform: unset;
}
.navbar .dropdown-menu a img{
    display: none;
    margin-right: 10px;
}
.navbar .dropdown-menu a:hover{
    color: #29CB75 !important;
    background-color: transparent !important;
}
.navbar .dropdown-toggle::after{
    border-top: 0.2em solid;
    border-right: .2em solid transparent;
    border-bottom: 0;
    border-left: .2em solid transparent;
}
.navbar-nav li a{
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #444444 !important;
    line-height: 22px;
}
.navbar-nav li a i{
    display: none;
}
.navbar .navbar-toggler{
    font-style: normal !important;
}
.navbar .navbar-toggler[aria-expanded="false"] .iconmenu::before{
    content: "\e90c";
    font-family: 'Web_ToanTam' !important;
    font-size: 30px;
}
.navbar .navbar-toggler[aria-expanded="true"] .iconmenu::before{
    content: "\e903";
    font-family: 'Web_ToanTam' !important;
    font-size: 25px;
}
.main_slider .carousel-caption h3{
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    text-transform: uppercase;
}
.main_slider .carousel-caption p{
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}
.main_slider .carousel-indicators{
   display: block;
   padding: 0;
   margin: 0;
   left: auto;
   right: 30px;
   bottom: 30px;
   z-index: 7;
}
.main_slider .carousel-indicators li{
    background-color: #C4C4C4;
}
.main_slider .carousel-indicators li.active{
    background-color: #29CB75;
}
.btn-primary{
    color: #fff !important;
    background-color: #29CB75 !important;
    border-color: #29CB75 !important;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    box-shadow: none !important;
}
.heading{
    display: flex;
    justify-content: center;
}
.heading h2{
    position: relative;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    padding: 0 20px;
    text-transform: uppercase;
}
.heading h2 span{
    position: relative;
    z-index: 3;
}
.heading h2 span.style1{
    color: #212121;
}
.heading h2 span.style2{
    color: #3290E7;
}
.heading h2::after{
    position: absolute;
    content :"";
    height: 10px;
    background: rgba(41, 203, 117, 0.3);
    width: 100%;
    left: 0;
    bottom: 10px;
    z-index: 1;
}
.t p{
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: #4a4a4a;
}
.tw820{
    width: 820px;
    margin: 0 auto;
}
.tw870{
    width: 870px;
    margin: 0 auto;
}
.main_section1 .item{
    margin: 15px;
}
.main_section1 .item .card-body {
    display: flex;
    justify-content: center;
}
.main_section1 .item .card-body h4{
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #212121;
}
.main_section1 .item .card-body ul li a{
    font-weight: 200;
    font-size: 15px;
    line-height: 30px;
    color: #444444;
}
.main_section1 .item .card-body ul li a i{
    margin: 0 10px 0 0;
}
.main_section2{
    background-color: #f5f5f5;
}
.main_section2 img{
    max-width: 100%;
}
.tw440{
    width: 440px;
    margin: 0 auto;
}
.tw440 .heading h2 span{
    display: block;
}
.tw440 .heading h2::after{
    display: none;
}
.tw440 p{
    font-weight: 300;
    font-size: 15px;
    line-height: 35px;
}
.main_section3 .owl-stage-outer{
    padding: 0 0 220px 0
}
.main_section3 .item{
    position: relative;
    margin: 15px;
}
.main_section3 .item img{
    width: auto !important;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
.main_section3 .item .card-body{
    position: absolute;
    top: 85px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 80px 30px 30px 30px;
}
.main_section3 .item .card-body h4{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #3290E7;
}
.main_section3 .item .card-body .card-text{
    color: #898989;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
}
.main_section3 .item .card-body .quote{
    position: relative;
}
.main_section3 .item .card-body .quote::before{
    content: "";
    background: url("../img/svg/quote1.svg") no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 12px;
}
.main_section3 .item .card-body .quote::after{
    content: "";
    background: url("../img/svg/quote2.svg") no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 12px;
}
.main_section3 .item .card-body span.line{
    width: 114px;
    height: 1px;
    background-color: #C1B8B8;
    margin: 10px auto;
    display: block;
}
.main_section3 .item .card-body .quote p{
    padding: 0 20px;
    font-weight: 400; 
    font-size: 15px;
    line-height: 20px;
}
.main_section4 {
    background: url("../img/bgsection4.png") center center no-repeat #3290E7;
}
.main_section4 .heading h2 span {
    color: #fff;
}
.main_section4 .heading h2::after{
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 270px;
}
.main_section4 .item{
    display: flex;
    color: #fff;
    margin: 30px 0;
}
.main_section4 .item i {
    font-size: 60px;
    margin: 0 30px 0 0 ;
}
.main_section4 .item .text{
    width: 400px;
}
.main_section4 .item .text h5{
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
}
.main_section4 .item .text p{
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
}
.main_section5 .item{
    margin: 30px;
}
.main_section5 .item .img{
    position: relative;
}
.main_section5 .item .img span.date{
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(41, 203, 117, 0.7);
    border-radius: 0px 5px;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    padding: 3px 5px;
}
.main_section5 .item h4{
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #2e2e2e; 
}
.main_section5 .item p{
    font-weight: 200;
    font-size: 15px; 
    line-height: 23px;
    color: #313131;
}
.main_section5 .item .btn{
    background-color: transparent !important;
    border: 1px solid #3290E7 !important;
    color: #3290E7 !important;
}
.main_section6{
    background: url("../img/bgsection6.jpg") top center no-repeat #f6f6f6;
}
.main_section6 .accordion {
    margin: 30px 0 0 0;
}
.main_section6 .card{    
    background: #FFFFFF;
    border: 1px solid #ECECEC !important;
    box-sizing: border-box;
    border-radius: 5px !important;
    box-shadow: none;
    margin: 15px 0 0 0;
}
.main_section6 .card-header{
    background: #FFFFFF;
    border: none  ;
    box-sizing: border-box;
    border-radius: 5px !important;
    margin-bottom: 0 !important;
}
.main_section6 .card-header a{
    position: relative;
}
.main_section6 .card-header a::after{
    content: "-";
    position: absolute;
    right: 10px;
    top: -10px;
    color: #252525;
    font-size: 30px;
}
.main_section6 .card-header a.collapsed::after{
    content: "+";
  
}
.main_section6 .card-header a{
    display: flex;
    align-items: center;
}
.main_section6 .card-header span{
    display: inline-flex;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    color: #000;
    margin: 0 10px 0 0;
}
.main_section6 .card-header h5{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #000; 
    margin-right: 20px;
}
.main_section6 .card-body{
    padding: 20px 50px;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: #4a4a4a; 
}
.page-footer{
    border-top: 6px solid #29CB75;
}
.page-footer .footer-copyright {
    background-color: #2d2d2d !important;
    font-size: 14px;
    color: #E4E4E4 !important;
}
.page-footer .footer-links{
    background-color: #3b3b3b;
}
.page-footer .footer-links h3{
    height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #E4E4E4;
    margin-bottom: 20px;
}
.page-footer .footer-links p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #E4E4E4;
    margin: 0;
    padding: 5px 0 0 0;
}
.page-footer .footer-links a.link{
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #E4E4E4;
}
.page-footer .footer-links .social {
    margin: 5px 0 0 0;
    display: flex;
}
.page-footer .footer-links .social a{
    margin-right: 10px;
}
.nav_right {
    position: fixed;
    right: 30px;
    bottom: 0;
    margin-bottom: 50px;
    z-index: 8;
}
.nav_right ul li{
    margin: 10px 0;
}
.nav_right ul li a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 3px 10px #888;
}
.nav_right ul li a.bg1{
    background-color: #FF6600;
}
.nav_right ul li a.bg2{
    background-color: #29CB75;
}
.nav_right ul li a.bg3{
    background-color: #0083FF;
}
.nav_right ul li a.bg4{
    background-color: #E0E0E0;
}
.owl-dots{
    display: flex;
    justify-content: center;
}
.owl-dots .owl-dot span{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #C4C4C4;
    display: inline-flex;
    margin: 0 5px;
}
.owl-dots .owl-dot.active span{
    width: 15px;
    height: 15px;
    background-color: #29CB75;
}
.main_section7{
    position: relative;
}
.main_section7 img.left{
     position: absolute;
    left: 30px;
    top: 0;
}
.main_section7 img.right{
    position: absolute;
    right: 30px;
    bottom: 0;
}
.main_section7 .box{
    position: relative;
    margin: 60px 0 0 0;
}
.main_section7 .box .row1{
    position: relative;
    z-index: 5;
}
.main_section7 .box .row2{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    width: 785px;
    top: 120px;
    z-index: 2;
}
.main_section7 .box .item{
    background: url("../img/dichvu/Group.png") center center no-repeat;
    width: 369px;
    height: 331px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 70px;
}
.main_section7 .box .item p{
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #444444;
    text-transform: uppercase;
}
.main_section7 .box .item a{
    text-decoration: underline;
   font-weight: 200;
    font-size: 15px;
    line-height: 20px;
    color: #00AC1C;
}
.main_section7 .box .item span{
    display: block;
    width: 108px;
    height: 105px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 65px;
    line-height: 105px;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}
.main_section7 .box .item span.number1{
    background: url("../img/dichvu/number1.png") center center no-repeat;
}
.main_section7 .box .item span.number2{
    background: url("../img/dichvu/number2.png") center center no-repeat;
}
.main_section7 .box .item span.number3{
    background: url("../img/dichvu/number3.png") center center no-repeat;
}
.main_section8{
    background: url("../img/dichvu/background.png") no-repeat top center ;
    position: relative;
    margin-top: -150px;
    padding: 300px 0 0 0;
}
.main_section8 .t{
    margin-bottom: 60px;
}
.main_section8 img.left{
    position: absolute;
    left: 30px;
    top: 400px;
}
.main_section8 img.right{
    position: absolute;
    right: 30px;
    bottom: 60px;
    z-index: 0;
}
.main_section8 .heading h2::after {
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 460px;
}
.main_section8 .item{
    background: #FFFFFF;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    min-height: 460px;
    position: relative;
    z-index: 3;
}
.main_section8 .item h4{
    background: #3290E7;
    border-radius: 10px 10px 0px 0px;
    height: 68px;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    line-height: 68px;
    color: #fff;
    text-transform: uppercase;
}
.main_section8 .item .box{
    padding: 20px;
}
.main_section8 .item .box p.style1{
    font-weight: 700;
    font-size: 50px;
    line-height: 30px;
    text-align: center;
    color: #3290E7;
}
.main_section8 .item .box p.style2{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000;
}
.main_section8 .item .box p.style3{
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: #000;
}
.main_section8 .item .box p.style3 span{
    font-weight: 400;
}
.main_section8 .item .box .text{
    position: relative;
    height: 50px;
}
.main_section8 .item .box span.style1{
    position: absolute;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #3290E7;
    left: 0;
    right: 0;
    text-align: center;
}
.main_section8 .item .box span.style1::before{
    width: 50px;
    height: 1px;
    background-color: #3290E7 ;
    content: "";
    position: absolute;
    margin-left: -60px;
    top: 14px;
}
.main_section8 .item .box span.style1::after{
    width: 50px;
    height: 1px;
    background-color: #3290E7 ;
    content: "";
    position: absolute;
    margin-left: 10px;
    top: 14px;
}
.main_slider2 .carousel-indicators li{
    width: 10px;
    height: 10px;
    background: #C4C4C4;
    opacity: 1;
    border: none;
}
.main_slider2 .carousel-indicators{
    align-items: center;
    z-index: 7;
}
.main_slider2 .carousel-indicators li.active{
    width: 15px;
    height: 15px;
    background: #29CB75;
}
@media (min-width: 1200px){
    .container{
        max-width: 1300px;
    }
}
@media (max-width: 1199.98px) {
    .main_slider .carousel-control-next, .main_slider .carousel-control-prev {
        display: none;
    }
    .main_slider .carousel-indicators{
        bottom: 20px;
        right: 0;
        left: 0;
        display: flex;
    }
    .main_slider img.w-100, .main_slider2 img.w-100{
        width: auto !important;
    }
    .main_slider .carousel-caption h3{
        font-size: 30px;
        line-height: 38px;
    }
    .main_section7 img.left, .main_section7 img.right,  .main_section8 img.left, .main_section8 img.right{
        display: none;
    }
    .carousel-caption{
        left: 0;
        right: 0;
        padding: 40px 20px;
    }
    .heading h2{
        font-size: 25px;
        line-height: 40px;
    }
    .heading h2::after{
        bottom: 5px;
    }
    .main_section3 .item, .main_section5 .item  {
        margin: 10px;
    }
    .main_section6 .card-body{
        padding: 20px;
    }
    .tw820, .tw440, .tw870{
        width: 100%;
    }
    .pad100_60{
        padding: 100px 10px 30px 10px;
    }
    .main_section7 .heading h2 span.text{
        display: block;
    }
    .main_section7 .box .row2{
        display: none;
    }
    .main_section8 .heading h2::after{
        width: 20px;
    }
    .mobile-header{
        box-shadow: 0px 1px 5px rgba(135, 135, 135, 0.23);
        position: fixed;
        top: 0;
        z-index: 10;
        background: #fff;
        width: 100%;
    }
    .mobile-header #navbarSupportedContent.navbar-collapse.collapse.show{
        position: fixed;
        top: 64px;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 30;
        left: 0;
    }
    .mobile-header .navbar .nav-item.active, .navbar .nav-item:hover{
        border-bottom: none;
    }
    .mobile-header #navbarSupportedContent ul{
        background: #fff;
        position: absolute;
        z-index: 3;
        top: 0;
        padding: 30px 15px;
        box-shadow: 0px 1px 5px rgba(135, 135, 135, 0.23);
        right: -100%;
        display: none;
        height: 100%;
        z-index: 30;
    }
    .mobile-header .navbar .dropdown-menu a{
        padding: 5px;
    }
    .mobile-header #navbarSupportedContent.show ul{
        right: 0;
        display: block;
    }
    .mobile-header #navbarSupportedContent.show::before{
        content: "";
        position: fixed;
        left: 0;
        top: 64px;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: 2;
    }
    .mobile-header .navbar .dropdown-menu{
        position: unset !important;
    }
    .mobile-header .navbar-nav li a{
        display: flex !important;
        align-items: center;
    }
    .mobile-header .navbar-nav li a i{
        display: block;
        margin-right: 10px;
    }
    .mobile-header .navbar .dropdown-menu{
        border-top: none;
        padding: 0 32px;
        display: block;
    }
    .mobile-header .navbar .dropdown-menu a img{
        display: block;
    }
    .mobile-header .navbar .dropdown-toggle::after{
        display: none;
    }
    .mobile-header .navbar .nav-item {
        padding: 0 ;
    }
    .navbar .nav-item .nav-link{
        padding: 10px;
    }
    .mobile-header .navbar .nav-item:hover .nav-link, .mobile-header .navbar .nav-item.active .nav-link{
        border-bottom: none;
    }
}
