doctype html
html
    include inc/head.jade
    body
        // Main Navigation
        header.mobile-header
          .container
            nav.navbar.sticky-top.navbar-expand-xl
              a.navbar-brand(href='#')
                img(src='img/svg/logo.svg' alt='logo web ke toan')
              button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                .iconmenu
              #navbarSupportedContent.navbar-collapse
                ul.navbar-nav.ml-auto
                  li.nav-item
                    a.nav-link(href='#')
                      i.icon-home
                      | Home 
                      span.sr-only (current)
                  li.nav-item.dropdown
                    a#navbarDropdownMenuLink-333.nav-link.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                      i.icon-accounting-services
                      | Dịch vụ kế toán
                    .dropdown-menu.dropdown-default(aria-labelledby='navbarDropdownMenuLink-333')
                      a.dropdown-item(href='#') 
                        img(src="img/svg/icon-arrow.svg", alt="")
                        | Tư vấn pháp lý   
                      a.dropdown-item(href='#') 
                        img(src="img/svg/icon-arrow.svg", alt="")
                        | Dịch vụ kế toán
                      a.dropdown-item(href='#') 
                        img(src="img/svg/icon-arrow.svg", alt="")
                        | Hóa đơn điện tử
                      a.dropdown-item(href='#') 
                        img(src="img/svg/icon-arrow.svg", alt="")
                        | Sở hữu trí tuệ
                      a.dropdown-item(href='#') 
                        img(src="img/svg/icon-arrow.svg", alt="")
                        | Chữ ký số - Token
                  li.nav-item
                    a.nav-link(href='#')
                      i.icon-consultant
                      | Tư vấn thành lập công ty 
                  li.nav-item.active
                    a.nav-link(href='#') 
                      i.icon-price-list
                      | bảng giá
                  li.nav-item
                    a.nav-link(href='#') 
                      i.icon-news
                      | Tin tức
        // Main Navigation
        include inc/slider5.jade
        .bang_gia.pad60_0
          .container
            .row
              .col-lg-9.order-lg-1
                .content
                  .t.text-center
                      .heading
                          h2
                              span.style1 BẢNG BÁO GIÁ DỊCH VỤ
                  table.tablebox
                    tr.head
                      td 
                        span.colorblue GÓI 1A: 
                        | bao gồm GPKD + Mã số thuế + Con dấu tròn Công ty
                      td Phí DV
                      td Lệ phí
                      td Biểu mẫu
                    tr
                      td - Tư vấn: tên công ty, địa chỉ, ngành nghề, vốn điều lệ công ty
                      td(rowspan="4").colorblue.text-center 250.000 đ
                      td.text-center.colorblue   650.000 đ
                      td(rowspan="4").text-center
                        a(href="#").btn Download
                        span Phiếu đăng ký
                    tr
                      td - Xin cấp GPKD, mã số thuế (mã số doanh nghiệp)
                      td(rowspan="3") Gồm: 200.000 đ Lệ phí và 
                        br
                        | 450.000 đ khắc Con dấu
                    tr
                      td - Khắc Con dấu tròn công ty
                    tr
                      td - Làm Thủ tục phát hành con dấu tại Sở KH&ĐT
                    tr.head
                      td 
                        span.colorblue GÓI 1B: 
                        | bao gồm GPKD + Mã số thuế + Con dấu tròn + Kê khai thuế ban đầu + Đăng ký sử dụng hóa đơn GTGT
                      td Phí DV
                      td Lệ phí
                      td Biểu mẫu
                    tr
                      td - Tư vấn: tên công ty, địa chỉ, ngành nghề, vốn điều lệ công ty
                      td.text-center.colorblue(rowspan="6") 650.000 đ
                      td.text-center.colorblue(rowspan="2") 950.000 đ
                      td(rowspan="6").text-center
                        a(href="#").btn Download
                        span Phiếu đăng ký
                    tr
                      td - Xin cấp GPKD, mã số thuế (mã số doanh nghiệp)
                    tr
                      td - Khắc Con dấu tròn công ty
                      td(rowspan="4") Gồm: 200.000 đ Lệ phí và 
                        br
                        | 450.000 đ khắc Con dấu
                    tr
                      td - Làm Thủ tục phát hành con dấu
                    tr
                      td - Kê khai thuế ban đầu tại Cơ quan thuế
                    tr
                      td - Đăng ký sử dụng hóa đơn GTGT
                    tr.head
                      td 
                        span.colorblue GÓI 2: 
                        | Thành lập chi nhánh - VPĐD - Kho - Cửa Hàng
                      td Phí DV
                      td Lệ phí
                      td Biểu mẫu
                    tr
                      td - Thành lập Chi nhánh công ty
                      td.text-center.colorblue  350.000 đ
                      td.text-center.colorblue  100.000 đ
                      td(rowspan="4").text-left Bạn Scan hoặc Chụp hình GPKD và Địa chỉ gửi qua email
                    tr
                      td - Thành lập Văn phòng đại diện
                      td.text-center.colorblue  350.000 đ
                      td.text-center.colorblue  100.000 đ
                    tr
                      td - Thành lập Kho hàng - Cửa hàng
                      td.text-center.colorblue  350.000 đ
                      td.text-center.colorblue  100.000 đ
                    tr
                      td - Thành lập Điểm kinh doanh
                      td.text-center.colorblue  350.000 đ
                      td.text-center.colorblue  100.000 đ
                    tr.head
                      td 
                        span.colorblue GÓI 3: 
                        | Thay đổi GPKD công ty
                      td Phí DV
                      td Lệ phí
                      td Biểu mẫu
                    tr
                      td - Thành lập Chi nhánh công ty
                      td.text-center.colorblue  350.000 đ
                      td.text-center.colorblue  100.000 đ
                      td(rowspan="5").text-left Bạn Scan hoặc Chụp hình GPKD và Thông tin thay đổi gửi qua email
                    tr
                      td - Thành lập Văn phòng đại diện
                      td.text-center.colorblue  350.000 đ
                      td.text-center.colorblue  100.000 đ
                    tr
                      td - Thành lập Kho hàng - Cửa hàng
                      td.text-center.colorblue  350.000 đ
                      td.text-center.colorblue  100.000 đ
                    tr
                      td - Thay đổi vốn điều lệ công ty
                      td.text-center.colorblue  350.000 đ
                      td.text-center.colorblue  100.000 đ
                    tr
                      td - Thay đổi người đại diện pháp luật - Giám đốc
                      td.text-center.colorblue  350.000 đ
                      td.text-center.colorblue  100.000 đ
                  p.quote Toàn Tâm cam kết cung cấp dịch vụ doanh nghiệp hàng đầu tại TPHCM, dựa trên bộ tiêu chí đánh giá chất lượng dịch vụ nhằm phục vụ dịch vụ tốt nhất cho khách hàng. Đến với Anpha, quý doanh nghiệp sẽ được chúng tôi thực hiện việc tư vấn, cung cấp dịch vụ trên nguyên tắc:
                  .d-flex.justify-content-between
                    .item
                      ul
                        li - Tư vấn dựa trên yêu cầu của khách hàng; 
                        li - Đảm bảo sự khách quan; 
                        li - Công khai, minh bạch các khoản chi phí liên quan; 
                        li - Thực hiện dịch vụ trọn gói;
                    .item
                      ul
                        li - Cam kết không phát sinh chí phí; 
                        li - Khách hàng không phải đi lại nhiều lần; 
                        li - Nhân viên tận tâm, nhiệt tình với công việc; 
                        li - Chịu trách nhiệm về các cam kết; 
                        li - Nhằm thỏa mãn, mang đến lợi ích cho khách hàng.
                  .xem_them
                    span Xem thêm: 
                    p - Dịch vụ thành lập công ty - Dịch vụ thành lập doanh nghiệp - Dịch vụ xin giấy phép kinh doanh - Dịch vụ đăng ký kinh doanh (Thành lập công ty tnhh; Thành lập công ty cổ phần; Thành lập doanh nghiệp tư nhân; Thành lập chi nhánh; Thành lập VPĐD) 
                      br 
                      | - Dịch vụ Kế toán - Dịch vụ Kế toán trọn gói 
                      br 
                      | (Kê khai thuế ban đầu; Dịch vụ quyết toán thuế; Dịch vụ hoàn thiện sổ sách kế toán) 
                      br 
                      | - Dịch vụ Báo cáo thuế 
                      br 
                      | - Dịch vụ Giải thể Công ty - Dịch vụ giải thể doanh nghiệp 
                      br 
                      | (Dịch vụ giải thể chi nhánh; Dịch vụ giải thể văn phòng đại diện; Dịch vụ giải thể điểm kinh doanh)

              .col-lg-3
                .sidebar
                  .box
                    h4 Thành lập công ty
                    ul
                      li
                        a(href="#") Thành lập công ty TNHH 
                      li
                        a(href="#") Thành lập công ty Cổ phần 
                      li
                        a(href="#") Thành lập Doanh Nghiệp Tư Nhân 
                      li
                        a(href="#") Thành lập Chi nhánh
                      li
                        a(href="#") Thành lập Văn phòng đại diện
                      li
                        a(href="#") Thành lập Công ty có vốn Nước Ngoài 
                      li
                        a(href="#") Thành lập Văn phòng đại diện Cty Nước Ngoài
                  .box
                    h4 Thành lập công ty
                    ul
                      li
                        a(href="#") Thành lập công ty TNHH 
                      li
                        a(href="#") Thành lập công ty Cổ phần 
                      li
                        a(href="#") Thành lập Doanh Nghiệp Tư Nhân 
                      li
                        a(href="#") Thành lập Chi nhánh
                      li
                        a(href="#") Thành lập Văn phòng đại diện
                      li
                        a(href="#") Thành lập Công ty có vốn Nước Ngoài 
                      li
                        a(href="#") Thành lập Văn phòng đại diện Cty Nước Ngoài
                  .box
                    h4 Thành lập công ty
                    ul
                      li
                        a(href="#") Thành lập công ty TNHH 
                      li
                        a(href="#") Thành lập công ty Cổ phần 
                      li
                        a(href="#") Thành lập Doanh Nghiệp Tư Nhân 
                      li
                        a(href="#") Thành lập Chi nhánh
                      li
                        a(href="#") Thành lập Văn phòng đại diện
                      li
                        a(href="#") Thành lập Công ty có vốn Nước Ngoài 
                      li
                        a(href="#") Thành lập Văn phòng đại diện Cty Nước Ngoài

        include inc/footer.jade
        include inc/right.jade
        include inc/script.jade 