doctype html
html
    include inc/head.jade
    body
        // Main Navigation
        header.mobile-header
          .container
            nav.navbar.sticky-top.navbar-expand-xl
              a.navbar-brand(href='#')
                img(src='img/svg/logo.svg' alt='logo web ke toan')
              button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                .iconmenu
              #navbarSupportedContent.navbar-collapse
                ul.navbar-nav.ml-auto
                  li.nav-item
                    a.nav-link(href='#')
                      i.icon-home
                      | Home 
                      span.sr-only (current)
                  li.nav-item.dropdown
                    a#navbarDropdownMenuLink-333.nav-link.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                      i.icon-accounting-services
                      | Dịch vụ kế toán
                    .dropdown-menu.dropdown-default(aria-labelledby='navbarDropdownMenuLink-333')
                      a.dropdown-item(href='#') 
                        img(src="img/svg/icon-arrow.svg", alt="")
                        | Tư vấn pháp lý   
                      a.dropdown-item(href='#') 
                        img(src="img/svg/icon-arrow.svg", alt="")
                        | Dịch vụ kế toán
                      a.dropdown-item(href='#') 
                        img(src="img/svg/icon-arrow.svg", alt="")
                        | Hóa đơn điện tử
                      a.dropdown-item(href='#') 
                        img(src="img/svg/icon-arrow.svg", alt="")
                        | Sở hữu trí tuệ
                      a.dropdown-item(href='#') 
                        img(src="img/svg/icon-arrow.svg", alt="")
                        | Chữ ký số - Token
                  li.nav-item
                    a.nav-link(href='#')
                      i.icon-consultant
                      | Tư vấn thành lập công ty 
                  li.nav-item.active
                    a.nav-link(href='#') 
                      i.icon-price-list
                      | bảng giá
                  li.nav-item
                    a.nav-link(href='#') 
                      i.icon-news
                      | Tin tức
        // Main Navigation
        include inc/slider5.jade
        .bang_gia.pad60_0
          .container
            .row
              .col-lg-9.order-lg-1
                .content
                  .t.text-center
                      .heading
                          h2
                              span.style1 BẢNG BÁO GIÁ DỊCH VỤ
                  table.tablebox
                    tr.head
                      td GÓI 1A: bao gồm GPKD + Mã số thuế + Con dấu tròn Công ty
                      td Phí DV
                      td Lệ phí
                      td Biểu mẫu
                    tr
                      td - Tư vấn: tên công ty, địa chỉ, ngành nghề, vốn điều lệ công ty
                      td(rowspan="4") 250.000 đ
                      td 650.000 đ
                      td(rowspan="4")
                        a(href="#").btn Download
                        span Phiếu đăng ký
                    tr
                      td - Xin cấp GPKD, mã số thuế (mã số doanh nghiệp)
                      td(rowspan="3") Gồm: 200.000 đ Lệ phí và 450.000 đ khắc Con dấu
                    tr
                      td - Khắc Con dấu tròn công ty
                    tr
                      td - Làm Thủ tục phát hành con dấu tại Sở KH&ĐT
              .col-lg-3
                .sidebar
                  .box
                    h4 Thành lập công ty
                    ul
                      li
                        a(href="#") Thành lập công ty TNHH 
                      li
                        a(href="#") Thành lập công ty Cổ phần 
                      li
                        a(href="#") Thành lập Doanh Nghiệp Tư Nhân 
                      li
                        a(href="#") Thành lập Chi nhánh
                      li
                        a(href="#") Thành lập Văn phòng đại diện
                      li
                        a(href="#") Thành lập Công ty có vốn Nước Ngoài 
                      li
                        a(href="#") Thành lập Văn phòng đại diện Cty Nước Ngoài
                  .box
                    h4 Thành lập công ty
                    ul
                      li
                        a(href="#") Thành lập công ty TNHH 
                      li
                        a(href="#") Thành lập công ty Cổ phần 
                      li
                        a(href="#") Thành lập Doanh Nghiệp Tư Nhân 
                      li
                        a(href="#") Thành lập Chi nhánh
                      li
                        a(href="#") Thành lập Văn phòng đại diện
                      li
                        a(href="#") Thành lập Công ty có vốn Nước Ngoài 
                      li
                        a(href="#") Thành lập Văn phòng đại diện Cty Nước Ngoài
                  .box
                    h4 Thành lập công ty
                    ul
                      li
                        a(href="#") Thành lập công ty TNHH 
                      li
                        a(href="#") Thành lập công ty Cổ phần 
                      li
                        a(href="#") Thành lập Doanh Nghiệp Tư Nhân 
                      li
                        a(href="#") Thành lập Chi nhánh
                      li
                        a(href="#") Thành lập Văn phòng đại diện
                      li
                        a(href="#") Thành lập Công ty có vốn Nước Ngoài 
                      li
                        a(href="#") Thành lập Văn phòng đại diện Cty Nước Ngoài

        include inc/footer.jade
        include inc/right.jade
        include inc/script.jade 