doctype html
html
    include inc/head.jade
    body
        // Main Navigation
        header.mobile-header
          .container
            nav.navbar.sticky-top.navbar-expand-xl
              a.navbar-brand(href='#')
                img(src='img/svg/logo.svg' alt='logo web ke toan')
              button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                .iconmenu
              #navbarSupportedContent.navbar-collapse
                ul.navbar-nav.ml-auto
                  li.nav-item
                    a.nav-link(href='#')
                      i.icon-home
                      | Home 
                      span.sr-only (current)
                  li.nav-item.dropdown
                    a#navbarDropdownMenuLink-333.nav-link.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                      i.icon-accounting-services
                      | Dịch vụ kế toán
                    .dropdown-menu.dropdown-default(aria-labelledby='navbarDropdownMenuLink-333')
                      a.dropdown-item(href='#') 
                        img(src="img/svg/icon-arrow.svg", alt="")
                        | Tư vấn pháp lý   
                      a.dropdown-item(href='#') 
                        img(src="img/svg/icon-arrow.svg", alt="")
                        | Dịch vụ kế toán
                      a.dropdown-item(href='#') 
                        img(src="img/svg/icon-arrow.svg", alt="")
                        | Hóa đơn điện tử
                      a.dropdown-item(href='#') 
                        img(src="img/svg/icon-arrow.svg", alt="")
                        | Sở hữu trí tuệ
                      a.dropdown-item(href='#') 
                        img(src="img/svg/icon-arrow.svg", alt="")
                        | Chữ ký số - Token
                  li.nav-item
                    a.nav-link(href='#')
                      i.icon-consultant
                      | Tư vấn thành lập công ty 
                  li.nav-item
                    a.nav-link(href='#') 
                      i.icon-price-list
                      | bảng giá
                  li.nav-item.active
                    a.nav-link(href='#') 
                      i.icon-news
                      | Tin tức
        // Main Navigation
        include inc/slider4.jade
        .news_detail.pad60_0
          .container
            .row
              .col-lg-9
                .content
                  h1 Kê khai nộp thuế điện tử là gì?
                  .description
                    span.author Đăng bởi: _HongNhung
                    span.date Cách đây: 2 ngày
                    span.share
                      span Chia sẻ:
                      a(href="#")
                        img(src="img/tintuc/facebook.svg", alt="")
                      a(href="#")
                        img(src="img/tintuc/Pinterest.svg", alt="")
                      a(href="#")
                        img(src="img/tintuc/Linkedin.svg", alt="")
                      a(href="#")
                        img(src="img/tintuc/Google.svg", alt="")
                  p Đây là một trong những lỗi phổ thông nhất mà người nộp mắc phải. Lỗi này do kế toán đăng ký nhầm ngân hàng, hoặc sai thông tin doanh nghiệp. Nếu đăng ký nhầm ngân hàng nộp thuế điện tử, kế toán cần đến chi nhánh gần nhất để thực hiện lệnh hủy. CN ngân hàng sẽ có căn cứ từ chối việc nộp thuế điện tử. 
                    br
                    | Còn với trường hợp đăng ký sai thông tin của doanh nghiệp, doanh nghiệp cần trực tiếp với chi nhánh ngân hàng. Ngân hàng sẽ thực hiện lệnh hỗ trợ hủy.
                  .d-flex.justify-content-center.text-center
                    .img.pad10_0
                      img(src="img/tintuc/hinh2.jpg", alt="")
                      h5 (Ảnh minh họa)
                  .d-flex.justify-content-between
                    .text.right
                      p Đây là một trong những lỗi phổ thông nhất mà người nộp mắc phải. Lỗi này do kế toán đăng ký nhầm ngân hàng, hoặc sai thông tin doanh nghiệp.
                      p Nếu đăng ký nhầm ngân hàng nộp thuế điện tử, kế toán cần đến chi nhánh gần nhất để thực hiện lệnh hủy. CN ngân hàng sẽ có căn cứ từ chối việc nộp thuế điện tử.
                      p Còn với trường hợp đăng ký sai thông tin của doanh nghiệp, doanh nghiệp cần trực tiếp với chi nhánh ngân hàng. Ngân hàng sẽ thực hiện lệnh hỗ trợ hủy. 
                        br
                        | Đây là một trong những lỗi phổ thông nhất mà người nộp mắc phải. Lỗi này do kế toán đăng ký nhầm ngân hàng, hoặc sai thông tin doanh nghiệp. 
                    .img.pad10_0.right
                      img(src="img/tintuc/hinh3.jpg", alt="")              
                  p Đây là một trong những lỗi phổ thông nhất mà người nộp mắc phải. Lỗi này do kế toán đăng ký nhầm ngân hàng, hoặc sai thông tin doanh nghiệp. Nếu đăng ký nhầm ngân hàng nộp thuế điện tử, kế toán cần đến chi nhánh gần nhất để thực hiện lệnh hủy. CN ngân hàng sẽ có căn cứ từ chối việc nộp thuế điện tử. 
                  p Còn với trường hợp đăng ký sai thông tin của doanh nghiệp, doanh nghiệp cần trực tiếp với chi nhánh ngân hàng. Ngân hàng sẽ thực hiện lệnh hỗ trợ hủy.
                    br
                    | Đây là một trong những lỗi phổ thông nhất mà người nộp mắc phải. Lỗi này do kế toán đăng ký nhầm ngân hàng, hoặc sai thông tin doanh nghiệp. Nếu đăng ký nhầm ngân hàng nộp thuế điện tử, kế toán cần đến chi nhánh gần nhất để thực hiện lệnh hủy. CN ngân hàng sẽ có căn cứ từ chối việc nộp thuế điện tử.
                  .d-flex.share_bottom.align-items-center.justify-content-between
                    span Chia sẻ:
                    .social
                      a(href="#")
                        img(src="img/tintuc/facebook.svg", alt="")
                      a(href="#")
                        img(src="img/tintuc/Pinterest.svg", alt="")
                      a(href="#")
                        img(src="img/tintuc/Linkedin.svg", alt="")
                      a(href="#")
                        img(src="img/tintuc/Google.svg", alt="")
                  .d-flex.tags
                    span TAGs:
                    .links
                      a(href="#") Kinh doanh 
                      a(href="#") Mở công ty 
                      a(href="#") Luật kinh doanh 
                      a(href="#") Tư vấn 
                      a(href="#") Kế toán 
                      a(href="#") Kế toán doanh nhiệp
                  .news_others.big
                    .heading2
                      h3 Tin liên quan
                    -for(i=0;i<4;i++)
                      a(href='#').d-flex
                        .img
                          img(src="img/tintuc/hinh4.png", alt="")
                        .text
                          h4 Những lỗi thường gặp khi kê khai nộp thuế điện tử
                          span 12/05/2020
                          p Việc sử dụng phần mềm và tiến hành nộp thuế điện tử không phải lúc nào cũng thực hiện nhanh chóng nếu bạn gặp phải lỗi sai sót. Điều này sẽ xuất phát từ lỗi bất cẩn...
              .col-lg-3
                .sidebar
                  .news_others.small
                    .heading2
                      h3 Tin liên quan
                    -for(i=0;i<4;i++)
                      a(href='#').d-flex
                        .img
                          img(src="img/tintuc/hinh4.png", alt="")
                        .text
                          h4 Những lỗi thường gặp khi kê khai nộp thuế điện tử
                          span 12/05/2020
                    .banner
                      h2 Banner
        include inc/footer.jade
        include inc/right.jade
        include inc/script.jade 