doctype html
html
    include inc/head.jade
    body
        include inc/header.jade
        include inc/slider.jade
        include inc/section1.jade
        include inc/section2.jade
        include inc/section3.jade
        include inc/section4.jade
        include inc/section5.jade
        include inc/section6.jade
        include inc/footer.jade
        include inc/script.jade 