// Footer
footer.page-footer
    .footer-links.pad60_0
        // Footer Links
        .container
            // Grid row
            .row
                // Grid column
                .col-md-4
                    h3 
                        img(src="img/svg/logo2.svg", alt="")
                    p TRỤ SỞ: 231-233 Lê Thánh Tôn, Phường Bến Thành, Quận 1, TP. HCM
                    a.link(href="tel:(408) 899-4333") Phone: (408) 899-4333
                    a.link(href="mailto:john@shenperio.com") Email: john@shenperio.com
                    .social
                        a(href="#") 
                            img(src="img/svg/facebook.svg",alt="")
                        a(href="#") 
                            img(src="img/svg/Pinterest.svg",alt="")
                        a(href="#") 
                            img(src="img/svg/Linkedin.svg",alt="")
                        a(href="#") 
                            img(src="img/svg/Google.svg",alt="")
                .col-md-4
                    h3 Dịch vụ
                    a.link(href="#") Thành lập công ty 
                    a.link(href="#") Dịch vụ
                    a.link(href="#") Dịch vụ khác
                .col-md-4
                    h3 Trợ giúp khách hàng
                    a.link(href="#") Cau hỏi thường gặp
                    a.link(href="#") Hình thức thanh toán
                    a.link(href="#") Chính sách bảo mật thông tin
    // Copyright
    .footer-copyright.text-center.py-3
        | Copyright © 2020 by TOANTAM Co., Ltd. All Rights Reserved.
    // Copyright
// Footer
