head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='generator', content='')
    // Load css styles
    link(rel="stylesheet", type='text/css', href="css/bootstrap.min.css")
    link(rel="stylesheet", type='text/css', href="css/mdb.min.css")
    link(rel="stylesheet", type='text/css', href="css/style.css")
    link(rel='stylesheet', type='text/css',  href='style.css')
    // [if lt IE 8] <!
    link(rel='stylesheet' href='ie7/ie7.css')
    // <![endif]
    title Web kế toán