// Main Navigation
header.mobile-header
	.container
		nav.navbar.sticky-top.navbar-expand-lg
			a.navbar-brand(href='#')
				img(src='img/svg/logo.svg' alt='logo web ke toan')
			button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
				.iconmenu
			#navbarSupportedContent.navbar-collapse
				ul.navbar-nav.ml-auto
					li.nav-item.active
						a.nav-link(href='#')
							i.icon-home
							| Home 
							span.sr-only (current)
					li.nav-item.dropdown
						a#navbarDropdownMenuLink-333.nav-link.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
							i.icon-accounting-services
							| Dịch vụ kế toán
						.dropdown-menu.dropdown-default(aria-labelledby='navbarDropdownMenuLink-333')
							a.dropdown-item(href='#') 
								img(src="img/svg/icon-arrow.svg", alt="")
								| Tư vấn pháp lý   
							a.dropdown-item(href='#') 
								img(src="img/svg/icon-arrow.svg", alt="")
								| Dịch vụ kế toán
							a.dropdown-item(href='#') 
								img(src="img/svg/icon-arrow.svg", alt="")
								| Hóa đơn điện tử
							a.dropdown-item(href='#') 
								img(src="img/svg/icon-arrow.svg", alt="")
								| Sở hữu trí tuệ
							a.dropdown-item(href='#') 
								img(src="img/svg/icon-arrow.svg", alt="")
								| Chữ ký số - Token
					li.nav-item
						a.nav-link(href='#')
							i.icon-consultant
							| Tư vấn thành lập công ty 
					li.nav-item
						a.nav-link(href='#') 
							i.icon-price-list
							| bảng giá
					li.nav-item
						a.nav-link(href='#') 
							i.icon-news
							| Tin tức
// Main Navigation
