.container
    .nav_right
        ul
            li
                a(href="#").bg1
                    img(src="img/svg/phone_icon.svg",alt="")
            li
                a(href="#").bg2
                    img(src="img/svg/email.svg",alt="")
            li
                a(href="#").bg3
                    img(src="img/svg/zalo.svg",alt="")
            li
                a(href="#").bg4  
                    img(src="img/svg/chat.svg",alt="")