.container
  .pad60_0
    .tw820.t.text-center
      .heading
        h2
          span.style1 TIN TỨC
    // Carousel Wrapper
    .owl-carousel.owl-theme.main_section5
      .item.text-center
        .img
            img.card-img-top(src='img/tintuc1.png' alt='Card image cap')
            span.date 20/09/2020
        .card-body
            h4.card-title Bắt buộc doanh nghiệp chuyển đổi sang hóa đơn điện tử từ 01/11/2020
            p.card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            a.btn.btn-primary xem thêm
      .item.text-center
        .img
            img.card-img-top(src='img/tintuc1.png' alt='Card image cap')
            span.date 20/09/2020
        .card-body
            h4.card-title Bắt buộc doanh nghiệp chuyển đổi sang hóa đơn điện tử từ 01/11/2020
            p.card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            a.btn.btn-primary xem thêm
      .item.text-center
        .img
            img.card-img-top(src='img/tintuc1.png' alt='Card image cap')
            span.date 20/09/2020
        .card-body
            h4.card-title Bắt buộc doanh nghiệp chuyển đổi sang hóa đơn điện tử từ 01/11/2020
            p.card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            a.btn.btn-primary xem thêm
      .item.text-center
        .img
            img.card-img-top(src='img/tintuc1.png' alt='Card image cap')
            span.date 20/09/2020
        .card-body
            h4.card-title Bắt buộc doanh nghiệp chuyển đổi sang hóa đơn điện tử từ 01/11/2020
            p.card-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
            a.btn.btn-primary xem thêm
    // /.Carousel Wrapper
