.main_section11.pad60_0
  .container
    .t.text-center
      .heading
        h2
          span.style1  THỦ TỤC SAU KHI CÔNG TY THÀNH LẬP
    .list
      .item_top
        h5.left KHUYÊN DÙNG
        h5.right CHI PHÍ
      .item
        p Thiết lập hồ sơ kê khai thuế ban đầu – miễn Lệ Phí Môn Bài năm 2020
        p 500.000
      .item
        p Dấu hộp tên Giám đốc
        p 100.000
      .item 
        p Dấu hộp tên công ty, địa chỉ, mã số thuế
        p 260.000
      .item 
        p Bảng hiệu công ty mica kích thước 20X30 (A4)
        p 260.000
      .item 
        p Đăng ký 01 năm chữ ký số khai thuế – nộp thuế (đã bao gồm 10% VAT)
        p 260.000
      .item 
        p Cài đặt phần mềm hóa đơn điện tử (Bản quyền Vĩnh Viễn)
        p 260.000 
      .item 
        p 300 số hóa đơn điện tử GTGT
        p 260.000 
      .item 
        p Thông báo số tài khoản ngân hàng lên Sở KH&ĐT
        p 260.000 
      .item 
        p Miễn phí mở tài khoản ngân hàng tận nơi + chọn số đẹp
        p 260.000 
      .item 
        p Tặng Voucher trị giá 1.000.000đ phí Dịch vụ kế toán trọn đời (*)
        p 260.000 
      .item 
        p * [Không áp dụng với khách hàng đã được miễn phí thành lập doanh nghiệp]
        p 260.000

    
