.main_section8
  img(src="./img/dichvu/icon4.svg", alt="").left
  .container
    .tw870.text-center.t
        .heading
            h2
                span.style1 TẤT CẢ NHỮNG THỦ TỤC CÒN LẠI ANPHA SẼ LÀM HẾT CHO BẠN
        p Chỉ sau 03 bước đơn giản, Anpha cam kết có Giấy phép kinh doanh và con dấu chỉ sau 03 ngày. Chúng tôi trình khách hàng ký hồ sơ thành lập, bàn giao giấy phép kinh doanh và con dấu công ty...tận nhà và hoàn toàn miễn phí. Sau khi thành lập, để hỗ trợ khách hàng Anpha sẽ liên kết với các đối tác mở tài khoản ngân hàng, chữ ký số, hóa đơn điện tử...
    .row
      .col-lg-4
        .item
          h4 Công ty TNHH Cổ Phần
          .box
            p.style1 250.000đ
            .text
              span.style1 5 ngày
            p.style2 Bạn chỉ cần chuẩn bị: 
            p.style3 – Bản sao 
              span CMND/CCCD 
              | hoặc 
              span passport 
              | của tất cả các thành viên cổ đông. 
            p.style3 – Thông tin công ty bao gồm 
              span tên, vốn điều lệ, ngành nghề, địa chỉ trụ sở, danh sách góp vốn...
      .col-lg-4
        .item
          h4 Công ty có vốn nước ngoài
          .box
            p.style1 9.000.000đ 
            .text
              span.style1 20 - 30 ngày
            p.style2 Bạn chỉ cần chuẩn bị: 
            p.style3 – CMND của người Việt Nam 
              span (3 bản)
              | – Để thành lập công ty 100% vốn Việt Nam.
            p.style3 – Bản sao 
              span hộ chiếu 
              | của nhà đầu tư nước ngoài
              span (2 bản)
            p.style3  – Để chuyển đổi vốn từ người Việt Nam sang cổ đông người nước ngoài.
      .col-lg-4
        .item
          h4 hộ kinh doanh cá thể
          .box
            p.style1 1.500.000đ 
            .text
              span.style1 5 ngày
            p.style2 Bạn chỉ cần chuẩn bị: 
            p.style3 – 
              span 02 CMND 
              | công chứng của người đứng tên trên giấy phép kinh doanh
            p.style3 – Chuẩn bị 
              span tên và ngành nghề hộ kinh doanh
            p.style3  – Ký hồ sơ để 
              span Toàn Tâm 
              | nộp lên cơ quan cấp phép đăng ký kinh doanh hộ cá thể
  img(src="./img/dichvu/icon5.svg", alt="").right
