.main_section6.pad100_60
    .container
        .tw820.t.text-center
            .heading
                h2
                    span.style1 CÂU HỎI THƯỜNG GẶP
        // Accordion wrapper
        #accordionEx.accordion.md-accordion(role='tablist' aria-multiselectable='true')
            // Accordion card
            .card
                // Card header
                #headingOne1.card-header(role='tab')
                    a(data-toggle='collapse' data-parent='#accordionEx' href='#collapseOne1' aria-expanded='true' aria-controls='collapseOne1')
                        span 1.
                        h5.mb-0
                            | Nên tuyển nhân viên kế toán hay sử dụng Dịch Vụ Kế Toán - Thuế?
                // Card body
                #collapseOne1.collapse.show(role='tabpanel' aria-labelledby='headingOne1' data-parent='#accordionEx')
                    .card-body
                        p Tuỳ thuộc vào từng giai đoạn phát triển của doanh nghiệp mà Người đứng đầu có quyết định phù hợp: 
                        p + Đối với công ty mới thành lập, đang ở giai đoạn chuẩn bị, tìm hiểu, thăm dò thị trường, phát triển đội ngũ kinh doanh là chủ yếu. Giai đoạn đầu này hầu như doanh nghiệp tiêu tốn rất nhiều các khoản phí, do đó việc tiết kiệm chi phí là 1 trong những yêu cầu quan trọng của công ty. Hơn nữa, các công việc văn phòng còn ít, không phát sinh thường xuyên, vì vậy sẽ thật lãng phí nếu tuyển dụng nhân viên kế toán trong giai đoạn này. Do đó, Dịch Vụ Kế Toán – Thuế là lựa chọn khuyên dùng cho các Chủ doanh nghiệp. 
                        p + Ở giai đoạn công ty đã phát triển ổn định, khối lượng công việc nhiều cần xử lý và đảm bảo tính liên tục, có 2 phương án chủ doanh nghiệp có thể lựa chọn: ul
                            li Một là xây dựng và tuyển dụng hệ thống kế toán thuế cho doanh nghiệp, đánh đổi với rủi ro doanh nghiệp có thể gánh chịu nếu xây dựng hệ thống kế toán và tuyển dụng người không phù hợp, tốn nhiều thời gian và nhân lực, chi phí tăng cao do đội ngũ cồng kềnh… 
                            li Hai là tiếp tục sử dụng Dịch Vụ Kế Toán – Thuế (gói nâng cao), các rủi ro về việc sai sót xử lý chứng từ hoá đơn được chuyển giao, tính liên tục của công việc được đảm bảo, tiết giảm chi phí và thời gian vận hành, tuyển dụng, đào tạo… mà vẫn có được một đội ngũ, một Hệ Thống Kế Toán – Thuế mạnh mẽ, năng lực và kinh nghiệm dồi dào.
            // Accordion card
            // Accordion card
            .card
                // Card header
                #headingTwo2.card-header(role='tab')
                    a.collapsed(data-toggle='collapse' data-parent='#accordionEx' href='#collapseTwo2' aria-expanded='false' aria-controls='collapseTwo2')
                        span 2.
                        h5.mb-0
                            | Tôi cần chuẩn bị những gì?
                // Card body
                #collapseTwo2.collapse(role='tabpanel' aria-labelledby='headingTwo2' data-parent='#accordionEx')
                    .card-body
                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                        | wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                        | eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                        | assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                        | nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                        | farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        | labore sustainable VHS.
                // Accordion card
            // Accordion card
            .card
                // Card header
                #headingThree3.card-header(role='tab')
                    a.collapsed(data-toggle='collapse' data-parent='#accordionEx' href='#collapseThree3' aria-expanded='false' aria-controls='collapseThree3')
                        span 3.
                        h5.mb-0
                            | Sau khi thành lập công ty, bước tiếp theo cần làm gì?
                // Card body
                #collapseThree3.collapse(role='tabpanel' aria-labelledby='headingThree3' data-parent='#accordionEx')
                    .card-body
                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                        | wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                        | eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                        | assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                        | nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                        | farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        | labore sustainable VHS.
            // Accordion card
            // Accordion card
            .card
                // Card header
                #headingThree4.card-header(role='tab')
                    a.collapsed(data-toggle='collapse' data-parent='#accordionEx' href='#collapseThree4' aria-expanded='false' aria-controls='collapseThree4')
                        span 4.
                        h5.mb-0
                            | Nên thành lập công ty loại hình nào?
                // Card body
                #collapseThree4.collapse(role='tabpanel' aria-labelledby='headingThree4' data-parent='#accordionEx')
                    .card-body
                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                        | wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                        | eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                        | assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                        | nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                        | farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        | labore sustainable VHS.
            // Accordion card
            // Accordion card
            .card
                // Card header
                #headingThree5.card-header(role='tab')
                    a.collapsed(data-toggle='collapse' data-parent='#accordionEx' href='#collapseThree5' aria-expanded='false' aria-controls='collapseThree5')
                        span 5.
                        h5.mb-0
                            | Có phát sinh thêm chi phí khác hay không?
                // Card body
                #collapseThree5.collapse(role='tabpanel' aria-labelledby='headingThree5' data-parent='#accordionEx')
                    .card-body
                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                        | wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                        | eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                        | assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                        | nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                        | farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        | labore sustainable VHS.
            // Accordion card
        // Accordion wrapper



        