.main_section4.pad60_0
    .container
        .tw820.t.text-center
            .heading
                h2
                    span.style1 VÌ SAO NÊN CHỌN DỊCH VỤ KẾ TOÁN TOÀN TÂM
        .row
            .col-md-6
                .item
                    i.icon-FreeConsultation
                    .text
                        h5 Miễn phí tư vấn
                        p Hỗ trợ tận nơi với dịch vụ 24/7 - Tư vấn nhiệt tình, dễ hiểu, không tốn phí
            .col-md-6
                .item
                    i.icon-fastprocess
                    .text
                        h5 Quy trình nhanh gọn
                        p Đơn giản, nhanh gọn, chuẩn xác, đúng giờ, hiệu quả, chuẩn StartupLand
            .col-md-6
                .item
                    i.icon-Costsavings
                    .text
                        h5 Tiết kiệm chi phí
                        p Tư vấn các phương án và dịch vụ tiết kiệm chi phí tối đa cho doanh nghiệp
            .col-md-6
                .item
                    i.icon-Professional-team
                    .text
                        h5 Đội ngũ chuyên nghiệp
                        p Có trình độ chuyên môn cao, uy tín, nhiệt tình và có nhiều kinh nghiệm
            .col-md-6
                .item
                    i.icon-information-security
                    .text
                        h5 Bảo mật thông tin
                        p Cam kết bảo mật 100% toàn bộ thông tin khách hàng
            .col-md-6
                .item
                    i.icon-Development-ecosystem
                    .text
                        h5 Hệ sinh thái phát triển
                        p Nơi các công ty được thành lập, liên kết với nhau tạo nên “Hệ sinh thái phát triển bền vững
                        