.main_section7
  img(src="./img/dichvu/icon1.svg", alt="").left
  .container.pad60_0
    .tw820.t.text-center
        .heading
            h2
                span.style1 qui trình 
                span.text
                  span.style2 03 bước 
                  span.style3 đơn giản
    .box
      .row.row1
        .col-md-4
          .item
            span.number1 1
            p Liên hệ Toàn Tâm để được tư vấn dịch vụ
            a(href="#") Xem thêm
        .col-md-4
          //.item
            span.number2 2
            p Cung cấp thông tin và ký hồ sơ
            a(href="#") Xem thêm
        .col-md-4 
          //.item
            span.number3 3
            p Nhận giấy chứng nhận thành lập doanh nghiệp
            a(href="#") Xem thêm
      .row.row2
        img(src="./img/dichvu/icon3.svg", alt="")
  img(src="./img/dichvu/icon1.svg", alt="").right 