.main_section10.pad60_0
  .container
    h2 QUY TRÌNH THÀNH LẬP CÔNG TY TẠI STARTUPLAND
    .row.justify-content-between.align-items-center
      .left
        img(src="img/tuvan/hinh1.png", alt="")
      .right
        .quy-trinh
          .step1.step
            .text.text-right
              h5 BƯỚC 1 
              p Chuyên viên tiếp nhận thông tin và tư vấn cho khách hàng
            .icon.desktop
              i.icon-step1
          .step2.step
            .text.text-right
              h5 BƯỚC 2
              p Soạn bộ hồ sơ đăng ký doanh nghiệp theo yêu cầu
            .icon.desktop
              i.icon-step2
          .step3.step
            .icon.desktop
              i.icon-step3
                span.path1
                span.path2
                span.path3
                span.path4
                span.path5
            .text.text-left
              h5 BƯỚC 3 
              p Trình ký và nộp hồ sơ tại Sở Kế hoạch & Đầu tư
          .step4.step
            .icon.desktop
              i.icon-step4
            .text.text-left
              h5 BƯỚC 4
              p Trả kết quả Giấy phép kinh doanh + Con dấu
          .step5.step
            .icon.desktop
              i.icon-step5
            .text.text-left
              h5 BƯỚC 5
              p Tiến hành các công việc sau khi đăng ký doanh nghiệp
            

