.container
  .pad60_0
    .tw820.t.text-center
      .heading
        h2
          span.style1 KHÁCH HÀNG ĐÁNH GIÁ DỊCH VỤ
    // Carousel Wrapper
    .owl-carousel.owl-theme.main_section3
      .item.text-center
        img.card-img-top(src='img/customer1.png' alt='Card image cap').text-center
        .card-body
            h4.card-title HỒNG TÚ
            p.card-text Bầu show của nghệ sĩ Huỳnh Lập
            span.line
            .quote
                p.quote-text Quy trình thành lập công ty nhanh gọn, giúp tiết kiệm được khá nhiều thời gian cho doanh nghiệp
      .item.text-center
        img.card-img-top(src='img/customer2.png' alt='Card image cap').text-center
        .card-body
            h4.card-title HỒNG TÚ
            p.card-text Bầu show của nghệ sĩ Huỳnh Lập
            span.line
            .quote
                p.quote-text Quy trình thành lập công ty nhanh gọn, giúp tiết kiệm được khá nhiều thời gian cho doanh nghiệp
      .item.text-center
        img.card-img-top(src='img/customer3.png' alt='Card image cap').text-center
        .card-body
            h4.card-title HỒNG TÚ
            p.card-text Bầu show của nghệ sĩ Huỳnh Lập
            span.line
            .quote
                p.quote-text Quy trình thành lập công ty nhanh gọn, giúp tiết kiệm được khá nhiều thời gian cho doanh nghiệp
      .item.text-center
        img.card-img-top(src='img/customer3.png' alt='Card image cap').text-center
        .card-body
            h4.card-title HỒNG TÚ
            p.card-text Bầu show của nghệ sĩ Huỳnh Lập
            span.line
            .quote
                p.quote-text Quy trình thành lập công ty nhanh gọn, giúp tiết kiệm được khá nhiều thời gian cho doanh nghiệp
    // /.Carousel Wrapper
