.main_section2.pad60_0
    .container
        .row.align-items-center
            .col-lg-6.col-md-12
                img(src='img/s4.png' alt='Card image cap')
            .col-lg-6.col-md-12
                .t.text-center.tw440
                    .heading
                        h2
                            span.style1 ĐÔI NÉT 
                            span.style2 VỀ TOÀN TÂM
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,