.main_section8
  img(src="./img/dichvu/icon4.svg", alt="").left
  .container.pad60_0
    .tw870.text-center
        .heading
            h2
                span.style1 TẤT CẢ NHỮNG THỦ TỤC CÒN LẠI ANPHA SẼ LÀM HẾT CHO BẠN
  img(src="./img/dichvu/icon5.svg", alt="").right
