.main_section9.pad60_0
  .container
    .row.align-items-center
      .col-md-7
        .t
          .heading
              h2
                  span.style1 DỊCH VỤ THÀNH LẬP CÔNG TY TRỌN GÓI - 
                  span.style2 [0 đồng]
          p Với đội ngũ chuyên viên pháp lý giàu kinh nghiệm trong lĩnh vực thành lập công ty, StartupLand hiểu rõ được những vướng mắc khó khăn trong quá trình thành lập doanh nghiệp và đã hỗ trợ thành công cho hàng trăm công ty khởi nghiệp mỗi năm. Vì thế, chúng tôi tự hào là công ty Luật chuyên nghiệp hỗ trợ dịch vụ thành lập công ty trọn gói với chính sách: 
          p + 
            span.color MIỄN PHÍ THÀNH LẬP DOANH NGHIỆP 
            | trị giá 
            span.color [1.000.000đ] 
            | dành cho các startup. 
          p + Tặng voucher 
            span.color Dịch vụ kế toán trọn đời 
            | trị giá 
            sapn.color [1.000.000đ]
            | *
      .col-md-5.text-right
        .float-right
          a(href="#").btn CÔNG TY CỔ PHẦN
          a(href="#").btn CÔNG TY TNHH 1TV
          a(href="#").btn CÔNG TY TNHH 2TV
          a(href="#").btn DOANH NGHIỆP TƯ NHÂN
