.main_section9.pad60_0
  .container
    .row
      .col-md-7
        .t
          .heading
              h2
                  span.style1 DỊCH VỤ THÀNH LẬP CÔNG TY TRỌN GÓI - 
                  span.style2 [0 đồng]
          p Chỉ sau 03 bước đơn giản, Anpha cam kết có Giấy phép kinh doanh và con dấu chỉ sau 03 ngày. Chúng tôi trình khách hàng ký hồ sơ thành lập, bàn giao giấy phép kinh doanh và con dấu công ty...tận nhà và hoàn toàn miễn phí. Sau khi thành lập, để hỗ trợ khách hàng Anpha sẽ liên kết với các đối tác mở tài khoản ngân hàng, chữ ký số, hóa đơn điện tử...
      .col-md-5
        a(href="#").btn CÔNG TY CỔ PHẦN
        a(href="#").btn CÔNG TY TNHH 1TV
        a(href="#").btn CÔNG TY TNHH 2TV
        a(href="#").btn DOANH NGHIỆP TƯ NHÂN
