.container
  .pad60_0
    .tw820.t.text-center
      .heading
        h2
          span.style1 CÔNG TY 
          span.style2 TOÀN TÂM
      p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    // Carousel Wrapper
    .owl-carousel.owl-theme.main_section1
      .item
        img.card-img-top(src='img/s1.png' alt='Card image cap').text-center
        .card-body
          .div
            h4.card-title THÀNH LẬP CÔNG TY
            ul
              li
                a(href="#")
                  i.icon-arrow
                  | Công ty Cổ phần 
              li
                a(href="#")
                  i.icon-arrow
                  | Công ty trách nhiệm hữu hạn 
              li
                a(href="#")
                  i.icon-arrow
                  | Doanh nghiệp tư nhân
      .item
        img.card-img-top(src='img/s2.png' alt='Card image cap').text-center
        .card-body
          .div
            h4.card-title DỊCH VỤ KẾ TOÁN
            ul
              li
                a(href="#")
                  i.icon-arrow
                  | Dịch vụ kế toán trọn đời
              li
                a(href="#")
                  i.icon-arrow
                  | Quyết toán Thuế cuối năm
              li
                a(href="#")
                  i.icon-arrow
                  | Dịch vụ Lao động & BHXH
      .item
        img.card-img-top(src='img/s3.png' alt='Card image cap').text-center
        .card-body
          .div
            h4.card-title DỊCH VỤ KHÁC
            ul
              li
                a(href="#")
                  i.icon-arrow
                  | Hoá đơn điện tử 
              li
                a(href="#")
                  i.icon-arrow
                  | Chữ ký số - Token
              li
                a(href="#")
                  i.icon-arrow
                  | Bảo hộ Thương hiệu
      .item
        img.card-img-top(src='img/s3.png' alt='Card image cap').text-center
        .card-body
          .div
            h4.card-title DỊCH VỤ KHÁC
            ul
              li
                a(href="#")
                  i.icon-arrow
                  | Hoá đơn điện tử 
              li
                a(href="#")
                  i.icon-arrow
                  | Chữ ký số - Token
              li
                a(href="#")
                  i.icon-arrow
                  | Bảo hộ Thương hiệu
    // /.Carousel Wrapper
