// Carousel Wrapper
#carousel-example-2.carousel.slide.carousel-fade(data-ride='carousel').main_slider
  // Indicators
  ol.carousel-indicators
    li.active(data-target='#carousel-example-2' data-slide-to='0')
    li(data-target='#carousel-example-2' data-slide-to='1')
    li(data-target='#carousel-example-2' data-slide-to='2')
  // /.Indicators
  // Slides
  .carousel-inner(role='listbox')
    .carousel-item.active
      .view
        img.d-block.w-100(src='img/slider/img1.jpg' alt='First slide')
        .mask.rgba-black-light
      .carousel-caption.tw820
        h3.h3-responsive DỊCH VỤ KẾ TOÁN CHO starups
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        a.btn.btn-primary Xem thêm
    .carousel-item
      // Mask color
      .view
        img.d-block.w-100(src='img/slider/img1.jpg' alt='Second slide')
        .mask.rgba-black-light
      .carousel-caption.tw820
        h3.h3-responsive DỊCH VỤ KẾ TOÁN CHO starups
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        a.btn.btn-primary Xem thêm
    .carousel-item
      // Mask color
      .view
        img.d-block.w-100(src='img/slider/img1.jpg' alt='Third slide')
        .mask.rgba-black-light
      .carousel-caption.tw820
        h3.h3-responsive DỊCH VỤ KẾ TOÁN CHO starups
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        a.btn.btn-primary Xem thêm

  // /.Slides
  // Controls
  a.carousel-control-prev(href='#carousel-example-2' role='button' data-slide='prev')
    img(src='img/svg/arrow2.svg' alt='')
  a.carousel-control-next(href='#carousel-example-2' role='button' data-slide='next')
    img(src='img/svg/arrow1.svg' alt='')
  // /.Controls
// /.Carousel Wrapper
