// Carousel Wrapper
#carousel-example-1z.carousel.slide.carousel-fade(data-ride='carousel').main_slider3
  // Indicators
  ol.carousel-indicators
    li.active(data-target='#carousel-example-1z' data-slide-to='0')
    li(data-target='#carousel-example-1z' data-slide-to='1')
    li(data-target='#carousel-example-1z' data-slide-to='2')
  // /.Indicators
  // Slides
  .carousel-inner(role='listbox')
    // First slide
    .carousel-item.active
      img.d-block.w-100(src='./img/dichvu/image.jpg' alt='First slide')
      h2 tin tức / Thuế
    // /First slide
    // Second slide
    .carousel-item
      img.d-block.w-100(src='./img/dichvu/image.jpg' alt='Second slide')
      h2 tin tức / Thuế
    // /Second slide
    // Third slide
    .carousel-item
      img.d-block.w-100(src='./img/dichvu/image.jpg' alt='Third slide')
      h2 tin tức / Thuế
    // /Third slide
    // /.Slides
// /.Carousel Wrapper
